* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;

}

body {
    background-color: black;
}

.main {
    background-image: url("timage.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(169vh, 106vw);
    height: 90vh;
    position: relative;

}

.main .box {
    height: 90vh;
    width: 100%;
    opacity: 0.7;
    background-color: black;
    position: absolute;
    top: 0;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    max-width: 80vw;
    height: 92px;
    z-index: 10;
    position: relative;


}

.hero {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    /* font-size: 40px; */
    position: relative;
    font-family: sans-serif;
    top: -62px;



}

.bigtext {

    font-weight: 900;
    font-size: 56px;
    max-width: 37vw;
    text-align: center;
}

.secondtext {
    font-weight: 500;
    font-size: 20px;
    max-width: 37vw;
    text-align: center;
    padding: 15px;
}

.thirdtext {
    font-weight: 400;
    font-size: 16px;
    max-width: 37vw;
    text-align: center;
    padding: 15px;
}

input {
    padding-left: 19px;
    padding-right: 200px;
    padding-top: 20px;
    padding-bottom: 13px;
    border-radius: 4px;
    font-size: 14px;
    background-color: transparent;
    border: 1px solid rgb(218, 210, 210);
    /* font-weight: 900; */
}

.getstarted {
    background-color: red;
    color: white;
    padding-left: 23px;
    padding-right: 35px;
    padding-top: 13px;
    padding-bottom: 13px;
    border-radius: 4px;
    font-size: 23px;
    border: 0px;
    cursor: pointer;
}

.sign {
    background-color: red;
    border: 0px;
    cursor: pointer;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 4px
}


.lang {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 9px;
    padding-bottom: 9px;
    /* border: 0px; */
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
    color: white;
    border: 1px solid rgba(218, 210, 210);

}

.grad {
    /* border-top:4px solid red;
   
    /* border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%; */
    height: 1.6vh;
    background-color: rgb(0 0 0);
    border: solid .25rem transparent;
    border-top-left-radius: 45% 100%;
    border-top-right-radius: 45% 100%;
    position: relative;
    top: -39px;

}

.line {
    height: 1.6vh;
    /* fallback color */
    background-color: rgb(114, 232, 23);
    border: solid .25rem transparent;
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;


    top: -22px;
    position: relative;
    /* use background (or background-image) for gradients */
    background: linear-gradient(to right, rgba(33, 13, 22, 1) 16%, rgba(184, 40, 105, 1), rgba(229, 9, 20, 1), rgba(184, 40, 105, 1), rgba(33, 13, 22, 1) 84%);
}

.effect {
    background-color: rgba(245, 245, 220, 0.233);
    height: 10vh;
    top: -60px;
    position: relative;
    background: radial-gradient(50% 500% at 50% -420%, rgba(64, 97, 231, 0.4) 80%, rgba(0, 0, 0, 0.1) 100%), black;
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;

}

.first {
    padding: 0 9.25rem;
    width: 100%;
    max-width: 120rem;
    margin: 0 auto;
    z-index: 2;
    box-sizing: border-box;
    height: 80vh;
    margin-top: -4rem;
}

.content {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 80vh;

}

.scroller {
    height: 20rem;
    width: 100%;


}

.scrollermain {
    position: relative;
    /* display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox; */
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow-y:scroll;
    overflow-y: visible;
    overflow-x: scroll;
    /* -ms-overflow-style: none;
    scrollbar-width: none; */
    /* -webkit-scroll-snap-type: x mandatory;
    -ms-scroll-snap-type: x mandatory; */
    scroll-snap-type: x mandatory;
    scroll-margin-inline-start: 2.5em;

}
.scrollermain::-webkit-scrollbar {
            width: 16px;
        }
        
       .scrollermain::-webkit-scrollbar-track {
            border-radius: 8px;
            background-color: #e7e7e700;
            border: 1px solid #cacaca00;
        }
        
       .scrollermain::-webkit-scrollbar-thumb {
            border-radius: 8px;
          border: 3px solid transparent;
           background-clip: content-box;
            background-color: #d10808;
        }



.b-one {
    background-color: transparent;
    border-radius: 10px;
    border:none;
}

.d-one {
    width: 11.25rem;
    height: 15.75rem;
    border-radius: 10px;
    background-color: transparent;
}

.s-one {
    display: block;
    width: 11.25rem;
    height: 15.75rem;
    background-size: cover;
    border-radius: 10px;



}

li {
    scroll-margin-inline-start: 2.75rem;
    padding: 0.5rem 1.375rem;
}
h2{
    color: white;
}
.happy{
    /* display: flex; */
    /* background-color: red; */
    
    /* border:2px solid red; */
    /* align-items: center; */
    height: 23rem;
    width: 100%;
} 
.h-things{
    display: flex;
    /* background-color: azure; */
    /* border:2px solid red; */
    align-items: center;
    height: 20rem;
    width: 100%;
    justify-content: center;
    
}
.happy .h-things div{
    /* border: 2px solid greenyellow; */
    height: 15rem;
    width: 30rem;
    margin: 0.5rem;
    border-radius: 15px;
    color:wheat;
    padding: 10px;
    background: linear-gradient(149deg, #192247 0%, #210e17 96.86%);
    color: white;
    /* position: relative; */
    
    

}
.happy .h-things div h2{
    
    margin: 5px;
    font-size: 1.3rem;
    margin-top: 10px;
    

}
.happy .h-things div p{
    margin: 5px;
    font-size: 0.8rem;
    margin-top: 15px;

}
.happy .h-things div svg{
    position: relative;
    top: 78px;
    left: 188px;
}
.happy .h-things :nth-child(2) svg {
    top:49px;
}
.happy .h-things :nth-child(1) svg{
    top: 65px;
}
.faq div:hover{
    background-color: rgb(136, 135, 135);
}
.faq div{
    transition: all 0.4s ease-out;
    border-radius: 10px;
    padding:5px;
    margin: 8px;
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
    height: 4.5rem;
    background-color: rgb(48, 48, 48);
    justify-content: space-between;
    cursor: pointer ;
    /* margin:auto; */

}
.faq div span{
    margin-left: 15px;
    
    font-size: 24px;

}
.faq div svg{
    margin-right: 15px;
}
.idk{
    margin-top: 75px;
    /* background-color: rgba(229, 9, 20, 1); */
}
h4{
    color:white;
    margin:25px;

}
.lower{
    margin-top: 70px;
    
    display: flex;
    flex-direction: column;
    align-items: center;

}
.lower .email input{
    padding-left: 19px;
    padding-right: 350px;
    padding-top: 20px;
    padding-bottom: 13px;
    border-radius: 4px;
    font-size: 14px;
    background-color: transparent;
    border: 1px solid rgb(218, 210, 210);
}
.lower .email button{
    background-color: red;
    color: white;
    padding-left: 43px;
    padding-right: 55px;
    padding-top: 13px;
    padding-bottom: 13px;
    border-radius: 4px;
    font-size: 23px;
    border: 0px;
    cursor: pointer;
}
.footer h5{
    color: white;
    margin: 25px;
}
.footer .row .col{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    margin: 25px;
    color: white;
    width: 100%;

}
.footer .row .col a{
    /* text-decoration: none; */
    color: rgb(187, 186, 186);
    margin: 5px;
}
.footer .row{
    display: flex;
}
small{
    color: rgb(187, 186, 186);
    margin: 25px;
    font-size: 15px;
}
.blank{
    height: 20vh;
    width: 100%;

}
.blank p{
    color: rgb(187, 186, 186);
    margin: 25px;
    font-size: 15px;
}
.blank a{
    color:rgb(30, 120, 224)
}
.footer{
    margin-top: 70px;
}

/* Responsive Design: Media Queries */
@media (max-width: 1200px) {
    .main {
        background-size: cover;
    }
    .bigtext, .secondtext, .thirdtext {
        max-width: 60vw;
    }
    .first, .content {
        padding: 0 2rem;
    }
}

@media (max-width: 900px) {
    nav {
        max-width: 95vw;
        height: 70px;
    }
    .bigtext {
        font-size: 36px;
        max-width: 80vw;
    }
    .secondtext, .thirdtext {
        font-size: 16px;
        max-width: 80vw;
    }
    .first, .content {
        height: auto;
        padding: 0 1rem;
    }
    .happy .h-things {
        flex-direction: column;
        height: auto;
    }
    .happy .h-things div {
        width: 90vw;
        margin: 0.5rem 0;
    }
    .scroller {
        height: 15rem;
    }
    .d-one, .s-one {
        width: 8rem;
        height: 11rem;
    }
}

@media (max-width: 600px) {
    nav {
        flex-direction: column;
        height: auto;
        max-width: 100vw;
        padding: 10px 0;
    }
    .main {
        height: 60vh;
    }
    .hero {
        height: 60vh;
        top: -30px;
    }
    .bigtext {
        font-size: 24px;
        max-width: 95vw;
    }
    .secondtext, .thirdtext {
        font-size: 14px;
        max-width: 95vw;
        padding: 8px;
    }
    input, .lower .email input {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 90vw;
        font-size: 12px;
    }
    .getstarted, .lower .email button {
        font-size: 16px;
        padding-left: 15px;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .first, .content {
        padding: 0 0.5rem;
        height: auto;
    }
    .happy {
        height: auto;
    }
    .happy .h-things div {
        width: 98vw;
        font-size: 1rem;
        padding: 5px;
    }
    .faq div {
        font-size: 14px;
        height: auto;
        padding: 8px 2px;
    }
    .footer .row {
        flex-direction: column;
        margin: 0;
    }
    .footer .row .col {
        margin: 10px 0;
    }
    .blank, .lower {
        margin-top: 30px;
    }
    .d-one, .s-one {
        width: 6rem;
        height: 8rem;
    }
}
